#ignore nightwatch related stuff
nightwatch/node_modules/
nightwatch/tests_output/
nightwatch/screens/

#ignore webdriver.io related stuff
webdriver.io/node_modules/


#ignore cypress related stuff
cypress/node_modules/

#ignore cypress related stuff
playwright/node_modules/
playwright/test-results/